/*Resetando algumas configurações*/
body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    margin: 100px;
}
/*Menu*/
.header{
    background: rgb(40, 42, 44);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
}

.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

nav ul li a:hover{/*Esse crio o efeito de luz quando passa o mouse sobre o botão link*/
    border-radius: 15px;
    box-shadow: 0 0 5px #33ffff;
    box-shadow: 0 0 5px #66ffff;
    color: cyan;
}
/*Conteúdo Príncipal*/
div{
    background: linear-gradient(rgba(26, 115, 232, 1), #fff);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.Flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;/*Faz que sempre fique ao meio*/
}

.Flex div{
    flex: 1 1 200px;
    margin: 10px;
}

#Funmes{
    border-radius: 0px;
}
/*Produtos*/
#corback{
    background: rgba(26, 115, 232, 1);
}
#produtos{
    width: 800px;
}
.pro{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 60%;/*Largura*/
    margin: auto;
    margin-top: 50px;
}
/*imagens*/
.imgRedonda{
    border-radius: 50%;
    height: 250px;
    width: 200px;
}
#adicionar{
    width: 100px;
    height: 100px;
}

/*.imgRedonda:hover{ Não funcionou como o esperado XD
    border-radius: 0%;
    height: 200px;
    width: 200px;
}*/

/*Botões*/
.botao{
    background: blue;
    border-radius: 15px;
    width: 120px;
    text-align: center;
    margin-left: 40px;
}

#comprar{
    border-radius: 15px;
    color: white;
    width: 100px;
    background: blue;
    
}

#cancelar{
    border-radius: 15px;
    color: black;
    background: white;
}
/*Formulário*/
#papelp{
    background: linear-gradient(rgba(26, 115, 232, 1), #fff);
    border-radius: 0px;
    text-align: left;
}
#papel{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 60%;/*Largura*/
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 60%);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: white;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    text-align: left;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
  }
/*Footer*/
footer{
    margin-top: 15px;
    background: rgb(40, 42, 44);
    padding: 15px;
    color: white;
    text-align: center;
}

.newcolor{
    background: white;
}

.spacerow1{
    display: flex;
    justify-content: space-around;
}
